AUTH_POSTGRES_USER=your_auth_db_user
AUTH_POSTGRES_PASSWORD=your_auth_db_password
AUTH_POSTGRES_DB=your_auth_db_name

UNIVERSITY_POSTGRES_USER=your_university_db_user
UNIVERSITY_POSTGRES_PASSWORD=your_university_db_password
UNIVERSITY_POSTGRES_DB=your_university_db_name

AUTH_SERVICE_URL=http://127.0.0.1:8000
UNIVERSITY_SERVICE_URL=http://127.0.0.1:8001